# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# Next.js
/.next/
/out/

# production
/build

# runtime user uploads
/public/uploads/

# Allow WordPress static assets needed by Next.js public pages
!public/template-head.html
!public/wp-content/
!public/wp-includes/

# env files (DO NOT commit these!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.idea
.vscode
